# Python
__pycache__/
*.py[cod]
*.pyo

# Virtual environment
.venv/
venv/

# Environment variables / secrets
.env
.env.*

# Django
db.sqlite3
media/
staticfiles/

# macOS
.DS_Store

# IDE
.vscode/
.idea/

# Logs
*.logpython -m pip install --upgrade pip